@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabeça{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;

}

.cabeça-logo{
    height: 72px;
}

.cabeça-menu{
    display: flex;
    gap: 30px;
}

.cabeça-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18xp;

}

.content{
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.content-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-principal-titulo{
    font-family: 'Righteous', cursive;
    font-size: 64px;
    font-weight: 400;
    color: #FFF2E7;
}

.content-principal-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.botao{
    background-color: #FFF2E7;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2f2325;
}

.botao:hover{
    background-color: rgba(236,214,196,0.53);
}

.content-principal-imagem{
    height: 430px;
}

.content-segundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.content-segundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    ;
    padding-top: 48px;
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.content-segundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #FFF2E7;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}